// COLORS
$color-pr: #2F3B52;
$color-ac: #1F8EFA;
$color-bg: #141D2F;
$color-re-bg: #293449;
$color-gr: #3E4E6C;
$color-wh: #ffffff;
$color-rd: #ff0000;
$color-bl: #000000;
// BREAKPOINTS
$sm-bp: 576px;
$md-bp: 1024px;