
<div class="db-header">
    <form novalidate (ngSubmit)="onSubmit(searchForm)" [formGroup]="searchForm">
        <div class="form-element">
            <div class="field">
                <label for="name">Topic Name</label>
                <input type="text" class="input" placeholder="Your full name" formControlName="name" id="name">
            </div>
            <div class="error" *ngIf="searchForm.get('name').hasError('required') && searchForm.get('name').touched">
                Name is required
            </div>
        </div>
        <div class="form-element">
            <div class="field">
                <label for="user">Select User</label>
                <select formControlName="user" id="user" class="input">
                    <option *ngFor="let user of userList" [value]="user.id">{{user.name}}</option>
                </select>
                <div class="error" *ngIf="searchForm.get('user').hasError('required') && searchForm.get('user').touched">
                    User is required
                </div>
            </div>
        </div>
        <div class="form-element">
            <button type="submit" class="sm-width-100">Search</button>
        </div>
    </form>
</div>
<div class="db-body">
    <div class="width-50 sm-width-100 fl db-left">
        <app-lang-list [techListInfo]="techListInfo"></app-lang-list>
    </div>
    <div class="width-50 sm-width-100 fl db-right">
        <app-graph-list [techListInfo]="techGraphInfo"></app-graph-list>
    </div>
</div>

